<h1>My Stores</h1>

<br>
<br>
<br>

<hr>

<div class="container " > 
<div class="row">
    <% @stores.each do |store|%>
    
        <div class=" col-sm-12 col-lg-4 mb-4 ">
            <%= link_to store_path(store.id) do %>
            <img class="card-img-top " style="width:100%; height:70%" src=<%= store.image  %> alt="Card image cap">
            <% end %>

            <div class="card-body my_card_color">
                <h5 class="card-title text-center " ><%= store.name%></h5>
            </div>
       </div>

    <% end %>
     </div> <!-- END OF ROW-->
</div> <!-- END OF Container -->

